*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:100vh;
    width:100vw;
    background:linear-gradient(90deg, #efd5ff 0%, #515ada 100%) ;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height:560px;
    width:400px;
    border-radius: 50px;
    gap:30px;
    box-shadow: 1px 1px 100px rgba(4, 64, 88, 0.699);
}
.card img{
    width:100%;
    height:30%;
    

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* padding:20px; */
    width:80%;
    text-align: center;
    font-style: italic;
    margin:0 auto;
    
}
.slice{
    display: flex;
    background-color: lightblue;
    border-radius: 5px;
    width: 300px;
    height:50px;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    
    
}
.firstbox{
    display: flex;
    align-items: center;
}
.firstbox img{
    height:30px;
    width:25px;
    margin-right:10px;
    border-radius: 20px;
} 
.text{
    font-size: 0.8rem;
    font-weight: bold;
}


.secondbox a{
    text-align: right;
    color:blueviolet;
    text-decoration: none;
    text-shadow: 1px 1px #14195f;
}
.butt button{
    height:35px;
    width:220px;
    border-radius: 10px;
    background-color: rgba(4, 4, 53, 0.921);
    color:white;
    font-weight: bold;
    box-shadow: 1px 1px 0px blue;
    cursor:pointer;
}

.cancel button{
    height:35px;
    width:220px;
    border-radius: 10px;
    background-color:rgba(128, 128, 128, 0.211);
    color:black;
    font-weight: bold;
    box-shadow: 1px 1px 0px blue;
    cursor:pointer;
}
.butt button:hover {
    background-color: #2e2e8f;
    transform: scale(1.05);
    transition: 0.2s;
}
.cancel button:hover {
    background-color: #d9534f;
    color: white;
}